@import "compass";

$KEY-COLOR : #F9E073;
$RED : #B00 ;
$GREEN :#00A622 ;

$xsmall:"only screen and (max-width:567px)";
$small:"only screen and (max-width:768px)";
$normal:"only screen and (max-width:1200px)";
$large:"only screen and (max-width:1400px)";

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



@-moz-keyframes swing {
    0% { -moz-transform: rotate(-7deg); }
    50% { -moz-transform: rotate(7deg); }
    100% { -moz-transform: rotate(-7deg); }
}
@-webkit-keyframes swing {
    0% { -webkit-transform: rotate(-7deg); }
    50% { -webkit-transform: rotate(7deg); }
    100% { -webkit-transform: rotate(-7deg); }
}
@keyframes swing {
    0% {transform:rotate(-7deg);}
    50% {transform:rotate(7deg);}
    100% {transform:rotate(-7deg);}
}


body,html{
	margin: 0;padding: 0;
	font-family:sans-serif;
};



header#header-main {
	background-color: #{$KEY-COLOR};
	h1 {
		margin: 0;padding: 0;
		overflow:hidden;
		height:48px;
		text-indent:-1000px;
		background-image: url(../images/brand_sp.svg);
		background-repeat:no-repeat;
		background-position: center;
	};
};

footer {
	background-color: #{$KEY-COLOR};
	min-height:48px;
}

section {clear:both;}


.ui-autocomplete {

	$autocomplete-bdc :#ccc ;
	background-color: #FFF;
	position: relative;
	top:4px;
	        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);

		& , li {margin: 0;padding: 0;list-style-type: none;}
		width:310px;
		display:block;border:1px solid #ccc;overflow:hidden;border-radius:4px;
		font-size:14px;
		>li {

			padding:2px 6px;
			display: block;
			border-bottom:1px solid #ccc;
		}
		>li:hover{
			background-color:#EAF9FC;
		}
		>li:last-child {
			border:none;
		}

		>li.ui-state-focus {
			background-color:#00C6E0;
			color:#FFF;
		}
	}

#search-area {
	
	background-image: url(../images/goldtexture.jpg);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.43) inset;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	@include clearfix();

	.inside {
		width: 310px;
		margin: 10px auto 10px auto;
	}
	

	.inputbox {
		border:1px solid #444;
		background-color:#FFF;
		background-image: url(../images/search-helptext.svg);
		background-repeat: no-repeat;
		position: relative;
		display: inline-block;
	}
	.inputbox.active{
		box-shadow: 0 0 2px white,0 0 8px white,0 0 8px white;
		border-color: #A6D1DD;
	}
	.inputbox.inputed {
		background-image:none;
	}

	#search-input {
		font-size: 16px;
		color: #666;
		padding: 9px;
		height: 15px;
		width: 236px;
		border:0px;
		background-color: rgba(0,0,0,0);
		
		}

	#search-submit {
		background-image: url(../images/search-submit.svg);
		background-color: #{$KEY-COLOR};
		border:1px solid;
		border-color: darken($KEY-COLOR ,30%);
		text-indent:-1000px;
		background-repeat:no-repeat;
		background-position: center;
		width: 48px;
		height: 35px;
		display: inline-block;
		position: relative;
		top: -3px;
	}

	.mainvis{
		 display: block;
		 margin: 0 auto;
	 }

	 .mainvis{
	 	width:300px;
	 }
}

#result {
	ul , li {
		margin: 0;padding: 0;list-style-type: none;
	}
	>ul{
		>li{min-width:280px;
			float:left;
			:after{
				content:"";
				clear:both;
				display: block;
			}
		}
	}

	@media #{$xsmall} {
    	>ul{
			>li{
				float:none;
				width:100%;
				margin:0 auto;
			}
		}
	}

	@media #{$small} {
    	>ul{
			>li{
				width:50%;
				max-width:none;
				// max-width:360px;
				// margin:0 auto;
			}
		}
		>ul#overview{
			>li{width:100%}
			.name{font-size:30px;}
		}
		>ul#asahi{
			>li:last-child{width:100%}
		}
	}

	@media #{$normal} {
    	>ul{
			>li{
				width:33.33%;
				max-width:450px;
			}
		}
		>ul#overview{
			>li{width:66.66%}
			.name{font-size:35px;}
		}
		>ul#asahi{
			>li:last-child{width:66.66%}
		}
	}

	@media #{$large} {
    	>ul{
			>li{
				width:25%;
				// max-width:360px;
				// margin:0 auto;
			}
		}
		>ul#overview{
			>li{width:50%}
			.name{font-size:30px;}
		}

		>ul#asahi{
			>li:last-child{width:50%}
		}
	}

	.card {
		padding: 8px;
		margin: 8px;
		position: relative;
		transform: translate3d(300px,0,0);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		opacity:0;
		background-color: #FFF;

		h2 {
			font-size: 18px;
			margin: -8px -8px 0 -8px;
			background-color: #fff;
			border-bottom: 1px dotted #f3f3f3;
			font-weight: normal;
			padding: 9px 15px;
			color: #999;
		}
	}

	.card.active {
		@include transition(transform 0.3s ease-in-out 0s , opacity 0.3s ease-in-out 0s);
		transform: translate3d(0,0,0);
		opacity:1;
	}

	.overview {

		.name {
			font-size: 28px;
			line-height: 1em;
			border-bottom: 1px solid #ccc;
			padding: 0 0 6px 0;
		}

		.badge ,
		.timestamp {
			display: inline-block;
			background-color: #CCC;
			color: #FFF;
			border-radius: 18px;
			font-size: 10px;
			line-height: 1em;
			padding: 4px 10px;
			position: relative;
			top: -2px;
		}

		.stockPrice {
			font-size: 22px;
			padding: 6px 0 0 3px;
			font-family: Helvetica,Arial;
		}

		.negative .stockPrice {color:#{$RED};}
		.positive .stockPrice {color:#{$GREEN};}
		
		.vector {
			div {
				width: 24px;
				height: 24px;
				background-color: #ccc;
				color: #FFF;
				margin: -12px;
				position: absolute;
				border-radius: 19px;
				line-height: 24px;
				text-align: center;
				right: 18px;
				top: 3px;
				border: 2px solid #FFF;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.43),0 -2px 3px rgba(0, 0, 0, 0.1) inset;
				font-size: 13px;
			}
		}

		.positive .vector div {background-color:#{$GREEN};}
		.negative .vector div {background-color:#{$RED};}

	}

	.positive-article ,
	.negative-article {
		p {
			font-family:serif;
		}
	}

	.positive-word ,
	.negative-word {
		ol {list-style-type:decimal;padding-left:24px;}
		li {
			list-style-type: decimal;
			padding: 11px 0px;
			line-height: 1em;
			font-size: 18px;
			margin: 3px -3px 3px 3px;
			border-bottom: 1px dotted #ccc;
			}
		li:last-child {
			border-bottom:none;
		}
	}

}

#judgements {
	text-align:center;
	@include clearfix();
  ul {
  	& , li{
  	margin: 0;padding: 0;	
  	}
    li {
		position: relative;
    	display:inline-block;
    	
    	.phone & {
    		display:block;float:left;
    		width:90%;
    	}
    	
    	div.inside{
    		width:250px;height:300px;
    		position: relative;
  			top:20px;
  			@include transition(top 0.3s ease-in-out);
  			margin: 0 auto;
    	}

    	div.inside:hover{
    		top:0px;
    	}

    	.graph {
    		width:48%;
			left: 25%;
			bottom: 11%;
			background-color: #{$KEY-COLOR};
			border-radius: 300px;
			z-index: 20;
			position: absolute;
			overflow: hidden;
    	
			-webkit-transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
			   -moz-transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
			        transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;

			 -webkit-animation-name: swing;
		    -webkit-animation-duration: 1000ms;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-timing-function: ease-in-out;
		    -moz-animation-name: swing;
		    -moz-animation-duration: 1000ms;
		    -moz-animation-iteration-count: infinite;
		    -moz-animation-timing-function: ease-in-out;
		    animation-name: swing;
		    animation-duration: 1000ms;
		    animation-iteration-count: infinite;
		    animation-timing-function: ease-in-out;
		    >img {width:100%;display: block;}
    	}
    	.upper , .lower{
    	position: absolute;left:0;top:0;
      	width: 100%;height: 100%;
      	-webkit-background-size: 100% auto;
      	     -o-background-size: 100% auto;
      	        background-size: 100% auto;
      }

      .upper {
      	background-position:top;
      	z-index:30;
      }
      .lower {
      	background-position:bottom;
      	z-index:10;
      }

      .resultCard {
      	width: 90%;
		margin: 0 auto;
		height: 200px;
		background-color: rgb(153, 170, 28);
		border-radius: 4px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, 0.52);
		position: relative;
		z-index: 15;
		color:#FFF;
		display: none;
      }


      .baloon {
      	width: 100px;
		height: 100px;
		background-image: url(../images/baloon.svg);
		position: absolute;
		z-index: 100;
		top: 70px;
		right: 0px;
		line-height: 100px;
		font-size: 15px;
		text-align: center;
		letter-spacing: -1px;
      }
    }
  }
  .puppetã€€{
  	
  }
  .kobayashi .puppet{
  	background-image: url(../images/judgement/kobayashi.png);
  }
}

.ui-helper-hidden-accessible ,.ui-autocomplete{
	display: none;
}



p {max-height:150px;overflow:hidden;display: block;}

