@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(-7deg);
  }
  50% {
    -moz-transform: rotate(7deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-7deg);
  }
  50% {
    -webkit-transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
/* line 44, ../sass/main.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 51, ../sass/main.scss */
header#header-main {
  background-color: #F9E073;
}
/* line 53, ../sass/main.scss */
header#header-main h1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 48px;
  text-indent: -1000px;
  background-image: url(../images/brand_sp.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 64, ../sass/main.scss */
footer {
  background-color: #F9E073;
  min-height: 48px;
}

/* line 69, ../sass/main.scss */
section {
  clear: both;
}

/* line 72, ../sass/main.scss */
.ui-autocomplete {
  background-color: #FFF;
  position: relative;
  top: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
  width: 310px;
  display: block;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 4px;
  font-size: 14px;
}
/* line 80, ../sass/main.scss */
.ui-autocomplete, .ui-autocomplete li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 84, ../sass/main.scss */
.ui-autocomplete > li {
  padding: 2px 6px;
  display: block;
  border-bottom: 1px solid #ccc;
}
/* line 90, ../sass/main.scss */
.ui-autocomplete > li:hover {
  background-color: #EAF9FC;
}
/* line 93, ../sass/main.scss */
.ui-autocomplete > li:last-child {
  border: none;
}
/* line 97, ../sass/main.scss */
.ui-autocomplete > li.ui-state-focus {
  background-color: #00C6E0;
  color: #FFF;
}

/* line 103, ../sass/main.scss */
#search-area {
  background-image: url(../images/goldtexture.jpg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.43) inset;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  *zoom: 1;
}
/* line 112, ../sass/main.scss */
#search-area .inside {
  width: 310px;
  margin: 10px auto 10px auto;
}
/* line 118, ../sass/main.scss */
#search-area .inputbox {
  border: 1px solid #444;
  background-color: #FFF;
  background-image: url(../images/search-helptext.svg);
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}
/* line 126, ../sass/main.scss */
#search-area .inputbox.active {
  box-shadow: 0 0 2px white,0 0 8px white,0 0 8px white;
  border-color: #A6D1DD;
}
/* line 130, ../sass/main.scss */
#search-area .inputbox.inputed {
  background-image: none;
}
/* line 134, ../sass/main.scss */
#search-area #search-input {
  font-size: 16px;
  color: #666;
  padding: 9px;
  height: 15px;
  width: 236px;
  border: 0px;
  background-color: transparent;
}
/* line 145, ../sass/main.scss */
#search-area #search-submit {
  background-image: url(../images/search-submit.svg);
  background-color: #F9E073;
  border: 1px solid;
  border-color: #caa609;
  text-indent: -1000px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 35px;
  display: inline-block;
  position: relative;
  top: -3px;
}
/* line 160, ../sass/main.scss */
#search-area .mainvis {
  display: block;
  margin: 0 auto;
}
/* line 165, ../sass/main.scss */
#search-area .mainvis {
  width: 300px;
}

/* line 171, ../sass/main.scss */
#result ul, #result li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 175, ../sass/main.scss */
#result > ul > li {
  min-width: 280px;
  float: left;
}
/* line 177, ../sass/main.scss */
#result > ul > li :after {
  content: "";
  clear: both;
  display: block;
}
@media only screen and (max-width: 567px) {
  /* line 187, ../sass/main.scss */
  #result > ul > li {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 197, ../sass/main.scss */
  #result > ul > li {
    width: 50%;
    max-width: none;
  }
  /* line 205, ../sass/main.scss */
  #result > ul#overview > li {
    width: 100%;
  }
  /* line 206, ../sass/main.scss */
  #result > ul#overview .name {
    font-size: 30px;
  }
  /* line 209, ../sass/main.scss */
  #result > ul#asahi > li:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 215, ../sass/main.scss */
  #result > ul > li {
    width: 33.33%;
    max-width: 450px;
  }
  /* line 221, ../sass/main.scss */
  #result > ul#overview > li {
    width: 66.66%;
  }
  /* line 222, ../sass/main.scss */
  #result > ul#overview .name {
    font-size: 35px;
  }
  /* line 225, ../sass/main.scss */
  #result > ul#asahi > li:last-child {
    width: 66.66%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 231, ../sass/main.scss */
  #result > ul > li {
    width: 25%;
  }
  /* line 238, ../sass/main.scss */
  #result > ul#overview > li {
    width: 50%;
  }
  /* line 239, ../sass/main.scss */
  #result > ul#overview .name {
    font-size: 30px;
  }
  /* line 243, ../sass/main.scss */
  #result > ul#asahi > li:last-child {
    width: 50%;
  }
}
/* line 247, ../sass/main.scss */
#result .card {
  padding: 8px;
  margin: 8px;
  position: relative;
  transform: translate3d(300px, 0, 0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  background-color: #FFF;
}
/* line 256, ../sass/main.scss */
#result .card h2 {
  font-size: 18px;
  margin: -8px -8px 0 -8px;
  background-color: #fff;
  border-bottom: 1px dotted #f3f3f3;
  font-weight: normal;
  padding: 9px 15px;
  color: #999;
}
/* line 267, ../sass/main.scss */
#result .card.active {
  -moz-transition: -moz-transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  -o-transition: -o-transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0s, 0s;
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/* line 275, ../sass/main.scss */
#result .overview .name {
  font-size: 28px;
  line-height: 1em;
  border-bottom: 1px solid #ccc;
  padding: 0 0 6px 0;
}
/* line 282, ../sass/main.scss */
#result .overview .badge,
#result .overview .timestamp {
  display: inline-block;
  background-color: #CCC;
  color: #FFF;
  border-radius: 18px;
  font-size: 10px;
  line-height: 1em;
  padding: 4px 10px;
  position: relative;
  top: -2px;
}
/* line 295, ../sass/main.scss */
#result .overview .stockPrice {
  font-size: 22px;
  padding: 6px 0 0 3px;
  font-family: Helvetica,Arial;
}
/* line 301, ../sass/main.scss */
#result .overview .negative .stockPrice {
  color: #B00;
}
/* line 302, ../sass/main.scss */
#result .overview .positive .stockPrice {
  color: #00A622;
}
/* line 305, ../sass/main.scss */
#result .overview .vector div {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  color: #FFF;
  margin: -12px;
  position: absolute;
  border-radius: 19px;
  line-height: 24px;
  text-align: center;
  right: 18px;
  top: 3px;
  border: 2px solid #FFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.43), 0 -2px 3px rgba(0, 0, 0, 0.1) inset;
  font-size: 13px;
}
/* line 323, ../sass/main.scss */
#result .overview .positive .vector div {
  background-color: #00A622;
}
/* line 324, ../sass/main.scss */
#result .overview .negative .vector div {
  background-color: #B00;
}
/* line 330, ../sass/main.scss */
#result .positive-article p,
#result .negative-article p {
  font-family: serif;
}
/* line 337, ../sass/main.scss */
#result .positive-word ol,
#result .negative-word ol {
  list-style-type: decimal;
  padding-left: 24px;
}
/* line 338, ../sass/main.scss */
#result .positive-word li,
#result .negative-word li {
  list-style-type: decimal;
  padding: 11px 0px;
  line-height: 1em;
  font-size: 18px;
  margin: 3px -3px 3px 3px;
  border-bottom: 1px dotted #ccc;
}
/* line 346, ../sass/main.scss */
#result .positive-word li:last-child,
#result .negative-word li:last-child {
  border-bottom: none;
}

/* line 353, ../sass/main.scss */
#judgements {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
/* line 357, ../sass/main.scss */
#judgements ul, #judgements ul li {
  margin: 0;
  padding: 0;
}
/* line 360, ../sass/main.scss */
#judgements ul li {
  position: relative;
  display: inline-block;
}
/* line 364, ../sass/main.scss */
.phone #judgements ul li {
  display: block;
  float: left;
  width: 90%;
}
/* line 369, ../sass/main.scss */
#judgements ul li div.inside {
  width: 250px;
  height: 300px;
  position: relative;
  top: 20px;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  margin: 0 auto;
}
/* line 377, ../sass/main.scss */
#judgements ul li div.inside:hover {
  top: 0px;
}
/* line 381, ../sass/main.scss */
#judgements ul li .graph {
  width: 48%;
  left: 25%;
  bottom: 11%;
  background-color: #F9E073;
  border-radius: 300px;
  z-index: 20;
  position: absolute;
  overflow: hidden;
  -webkit-transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
  -webkit-animation-name: swing;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: swing;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: swing;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* line 407, ../sass/main.scss */
#judgements ul li .graph > img {
  width: 100%;
  display: block;
}
/* line 409, ../sass/main.scss */
#judgements ul li .upper, #judgements ul li .lower {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 417, ../sass/main.scss */
#judgements ul li .upper {
  background-position: top;
  z-index: 30;
}
/* line 421, ../sass/main.scss */
#judgements ul li .lower {
  background-position: bottom;
  z-index: 10;
}
/* line 426, ../sass/main.scss */
#judgements ul li .resultCard {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  background-color: #99aa1c;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.52);
  position: relative;
  z-index: 15;
  color: #FFF;
  display: none;
}
/* line 440, ../sass/main.scss */
#judgements ul li .baloon {
  width: 100px;
  height: 100px;
  background-image: url(../images/baloon.svg);
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 0px;
  line-height: 100px;
  font-size: 15px;
  text-align: center;
  letter-spacing: -1px;
}
/* line 458, ../sass/main.scss */
#judgements .kobayashi .puppet {
  background-image: url(../images/judgement/kobayashi.png);
}

/* line 463, ../sass/main.scss */
.ui-helper-hidden-accessible, .ui-autocomplete {
  display: none;
}

/* line 469, ../sass/main.scss */
p {
  max-height: 150px;
  overflow: hidden;
  display: block;
}
