/* line 13, ../sass/main.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 19, ../sass/main.scss */
header#header-main {
  background-color: #F9E073;
}
/* line 21, ../sass/main.scss */
header#header-main h1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 48px;
  text-indent: -1000px;
  background-image: url(../images/brand_sp.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 32, ../sass/main.scss */
footer {
  background-color: #F9E073;
  min-height: 48px;
}

/* line 38, ../sass/main.scss */
#search-area {
  background-image: url(../images/goldtexture.jpg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.43) inset;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 47, ../sass/main.scss */
#search-area .inside {
  width: 310px;
  margin: 10px auto 10px auto;
}
/* line 51, ../sass/main.scss */
#search-area .inputbox {
  border: 1px solid #444;
  background-color: #FFF;
  background-image: url(../images/search-helptext.svg);
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}
/* line 59, ../sass/main.scss */
#search-area .inputbox.active {
  box-shadow: 0 0 2px white,0 0 8px white,0 0 8px white;
  border-color: #A6D1DD;
}
/* line 63, ../sass/main.scss */
#search-area .inputbox.inputed {
  background-image: none;
}
/* line 67, ../sass/main.scss */
#search-area #search-input {
  font-size: 16px;
  color: #666;
  padding: 9px;
  height: 15px;
  width: 236px;
  border: 0px;
  background-color: transparent;
}
/* line 78, ../sass/main.scss */
#search-area #search-submit {
  background-image: url(../images/search-submit.svg);
  background-color: #F9E073;
  border: 1px solid;
  border-color: #caa609;
  text-indent: -1000px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 35px;
  display: inline-block;
  position: relative;
  top: -3px;
}
/* line 93, ../sass/main.scss */
#search-area .mainvis {
  display: block;
  margin: 0 auto;
}
/* line 98, ../sass/main.scss */
#search-area .mainvis {
  width: 300px;
}

/* line 104, ../sass/main.scss */
#result ul, #result li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 108, ../sass/main.scss */
#result > ul > li {
  min-width: 280px;
  float: left;
}
/* line 110, ../sass/main.scss */
#result > ul > li :after {
  content: "";
  clear: both;
  display: block;
}
@media only screen and (max-width: 567px) {
  /* line 120, ../sass/main.scss */
  #result > ul > li {
    float: none;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 131, ../sass/main.scss */
  #result > ul > li {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 141, ../sass/main.scss */
  #result > ul > li {
    width: 33.33%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 149, ../sass/main.scss */
  #result > ul > li {
    width: 25%;
  }
}
/* line 157, ../sass/main.scss */
#result .card {
  padding: 8px;
  margin: 8px;
  position: relative;
  transform: translate3d(300px, 0, 0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  background-color: #FFF;
}
/* line 166, ../sass/main.scss */
#result .card h2 {
  font-size: 18px;
  margin: -8px -8px 0 -8px;
  background-color: #fff;
  border-bottom: 1px dotted #f3f3f3;
  font-weight: normal;
  padding: 9px 15px;
  color: #999;
}
/* line 177, ../sass/main.scss */
#result .card.active {
  -moz-transition: -moz-transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  -o-transition: -o-transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0s, 0s;
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/* line 185, ../sass/main.scss */
#result .overview .name {
  font-size: 28px;
  line-height: 1em;
  border-bottom: 1px solid #ccc;
  padding: 0 0 6px 0;
}
/* line 192, ../sass/main.scss */
#result .overview .badge,
#result .overview .timestamp {
  display: inline-block;
  background-color: #CCC;
  color: #FFF;
  border-radius: 18px;
  font-size: 10px;
  line-height: 1em;
  padding: 4px 10px;
  position: relative;
  top: -2px;
}
/* line 205, ../sass/main.scss */
#result .overview .stockPrice {
  font-size: 22px;
  padding: 6px 0 0 3px;
  font-family: Helvetica,Arial;
}
/* line 211, ../sass/main.scss */
#result .overview .negative .stockPrice {
  color: #B00;
}
/* line 212, ../sass/main.scss */
#result .overview .positive .stockPrice {
  color: #00A622;
}
/* line 215, ../sass/main.scss */
#result .overview .vector div {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  color: #FFF;
  margin: -12px;
  position: absolute;
  border-radius: 19px;
  line-height: 24px;
  text-align: center;
  right: 18px;
  top: 3px;
  border: 2px solid #FFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.43), 0 -2px 3px rgba(0, 0, 0, 0.1) inset;
  font-size: 13px;
}
/* line 233, ../sass/main.scss */
#result .overview .positive .vector div {
  background-color: #00A622;
}
/* line 234, ../sass/main.scss */
#result .overview .negative .vector div {
  background-color: #B00;
}
/* line 240, ../sass/main.scss */
#result .positive-article p,
#result .negative-article p {
  font-family: serif;
}
/* line 247, ../sass/main.scss */
#result .positive-word ol,
#result .negative-word ol {
  list-style-type: decimal;
  padding-left: 24px;
}
/* line 248, ../sass/main.scss */
#result .positive-word li,
#result .negative-word li {
  list-style-type: decimal;
  padding: 11px 0px;
  line-height: 1em;
  font-size: 14px;
  margin: 3px -3px 3px 3px;
  border-bottom: 1px dotted #ccc;
}
/* line 256, ../sass/main.scss */
#result .positive-word li:last-child,
#result .negative-word li:last-child {
  border-bottom: none;
}
